@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: "inter", sans-serif;
	/* 

	
	 */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 100vh;

}

#container {
	position: relative;
	width: 800px;
	height: 900px;
	border: 2px solid black;
	padding: 10px;
}

#container h1 {
	font-weight: 500;
	margin: 5px;
}


#container .noeud.gen0 {
	position: absolute;
	background-color: #F5F2EC;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	z-index: 2;
}

#container .branche {
	position: absolute;
	top: 50%;
	left: 50%;

}


.bras {
	position: absolute;
}

.bras.gen1 {
	width: 250px;
	z-index: 1;
	transform: translateY(-50%);
}

.bras.gen2 {
	width: 100px;
	z-index: 0;
	transform-origin: left;
	/* transform: translateY(50%); */
}

.gen2-container {
	position: absolute;
	left: 250px;
}



.tige {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 2px;
	width: 100%;
	background-color: black;
	animation: extend-tige 2s ease;
}

.noeud {
	position: absolute;
	right: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: black solid 2px;
	transform: translate(50%, -50%);
	cursor: pointer
}

.img-container {
	position: absolute;
	border: 2px solid black;
	width: 250px;
	height: 450px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: open-img .3s ease;
	z-index: 50;
	overflow: hidden;

}

.img {
	position: relative;
	height: 260px;
}

.img-info {
	color: white;
	font-size: .8rem;
	mix-blend-mode: difference;
	word-wrap: break-word;
	margin: 5px;
}

.img-title {
	/* font-size: 1.5rem; */
}

.voir {
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: right;
}

.img-small {
	position: absolute;
	width: 100%;
	cursor: zoom-in;
}

.parameter {
	margin-top: 10px;
}

@keyframes open-img {
	from {
		width: 0;
		height: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes extend-tige {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}



.gen1 .noeud {}