@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
	box-sizing: border-box;
}


/* scrollbar CHROME*/
::-webkit-scrollbar {
	width: 3px;
	margin: 0px
}

::-webkit-scrollbar-track {
	/* background: rgb(46, 46, 46); */
}

::-webkit-scrollbar-thumb {
	background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(255, 255, 255);
}



body {
	font-family: "inter", sans-serif;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* overflow: hidden; */
}

#container {
	position: relative;
	width: 650px;
	height: 700px;
	border: 2px solid black;
	padding: 10px;
}

#container h1 {
	font-size: 1.2rem;
	font-weight: 500;
	margin: 5px;
}


#container .noeud.gen0 {
	position: absolute;
	background-color: #F5F2EC;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	z-index: 2;
}

#container .branche {
	position: absolute;
	top: 50%;
	left: 50%;

}


.bras {
	position: absolute;
}

.bras.gen1 {
	width: 200px;
	z-index: 1;
	transform: translateY(-50%);
}

.bras.gen2 {
	width: 70px;
	z-index: 0;
	transform-origin: left;
}

.gen2-container {
	position: absolute;
	left: 200px;
}



.tige {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 2px;
	width: 100%;
	background-color: black;
	animation: extend-tige 2s ease;
}

.noeud {
	position: absolute;
	right: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: black solid 2px;
	transform: translate(50%, -50%);
	cursor: pointer;
	transition: all .1s;
}

.noeud:hover {
	width: 22px;
	height: 22px;
}



/* IMAGE CONTAINER */

.img-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	width: 300px;
	height: 550px;
	transform: translate(-50%, -50%);
	z-index: 50;
	transition: left .4s, top .4s;
	animation: open-img .6s ease;
	/* left: 50px;
	top: 50px; */
}



@keyframes open-img {
	from {
		width: 0;
		height: 0;
		opacity: 0;
	}

	to {}
}

.img-box {
	padding-bottom: 20px;
	position: relative;
}

.img-info {
	color: white;
	mix-blend-mode: difference;
	word-wrap: break-word;
	margin: 5px;
}

.img-title {
	top: 0;
	position: absolute;
	font-size: 1.5rem;
}

.voir {
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: right;
}

.img-small {
	margin-top: 10px;
	width: 100%;
	cursor: zoom-in;
}

.parameter-box {
	margin-top: 20px;
	overflow: auto;
}

.parameter {
	font-size: .8rem;
}

@keyframes extend-tige {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}



.gen1 .noeud {}